.left-container
{
    width:736px;
    height: 937px;
    background: linear-gradient(146.88deg, #1E1F1D 1.46%, #1A1C18 99.06%);
}
.user-name-container
{
    
font-family: poppins;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 180.3%;



color: #FEFEFE;
}
.img1
{
    position: absolute;
    left: 207px;
    top: 34px;
    z-index: 0;
}
.img2
{
    z-index: 1;   
}
.user-name-content
{
    gap: 12px;
    display: flex;
    margin-left: 213px;
    margin-top: 31px;

}
.header
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 25px;

line-height: 130%;
/* or 65px */
margin-top: 117px;
margin-left: 203px;
color: #FEFEFE;
}
.header h1{
    display: flex;
    flex-direction: row;
}
.tech-position
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 27px;
/* identical to box height */
margin-left: 203px;
margin-top: 33px;

color: #CFCFCF;
}
.tech-position-details
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100px;
    font-size: 14px;
    line-height: 180.3%;
    /* or 29px */
    margin-left: 203px;
margin-top: 33px;
    
    color: #CFCFCF;
}
.btn-portfolio{
    background: #FEFEFE;
border-radius: 50px;
width: 176px;
height: 63px;
border: none;
margin-left: 203px;
margin-top: 48px;
}
.portfolio-container{
    display: flex;

}
.download-here
{

    margin-top: 66px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #CFCFCF;
margin-left: 44px;
text-decoration: underline;
}
.contact-link-container
{
    display: flex;
    gap:21px;
    align-items: center;
    justify-content: center;
margin-top: 100px;
    
    }