@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Josefin+Sans:400,600,700,400italic,600italic);
.login-container
{
    position: absolute;
    top: 200px;
    left: 35%;
    display: flex;

    border-radius: 0px 24px 0px 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30em;
    height: 30em;
    gap: 2em;
    outline: 4px double rgba(0,0,0,0.22);
outline-offset: 5px;
    background: rgba(255, 255, 255, 0.3);
  
}


.submit-btn {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit-btn:hover,
.submit-btn:active {
  outline: 0;
}

.submit-btn:hover {
  background-color: transparent;
  cursor: pointer;
}

.submit-btn:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.submit-btn:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .submit-btn {
    padding: 16px 32px;
  }
}
.login-container input{
    width: 420px;
    border: 2px dottedd black;
    height: 55px;
    background: #ffffff;
    opacity: 0.99;
    border-radius: 15px;
    border: 3px inset rgba(0,0,0,0.23);
border-radius: 0px 24px 0px 25px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16.3636px;
    line-height: 25px;
    padding-left: 19px;
}

.contact-header
{
  text-align: center;
  margin-top: 30px;

    width: 100vw;
}
.contact-header h1{
    font-family: montserrat;
}